<h3>Week of <%= @week.to_s %></h3>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <% @week.days.each do |day| %>
        <tr><td><%= link_to_if Day.is_day?(day.to_s), "#{day.to_formatted_s(:long_ordinal)}", day_path(day.to_s) %></td></tr>
      <% end %>
    </table>
    </br>
    <table class="table">
      <thead>
        <th>Active Production Schedules</th>
      </thead>
      <% @week.production_schedules(current_user).each do |schedule| %>
        <tr><td><%= link_to schedule.to_s, production_schedule_path(schedule) %></td></tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <th>Flavor</th>
        <th>Quantity Sold (lbs)</th>
      </thead>
      <% @week.net_sales_by_product(current_user).each do |recipe, quantity| %>
        <tr>
          <td><%= recipe %></td>
          <td><%= number_with_precision(quantity, precision: 2, strip_insignificant_zeros: true) %></td>
        </tr>
      <% end %>
      <tr><td></td><td></td></tr>
      <tr>
        <td><strong>total</strong></td>
        <td><%= number_with_precision(@net_sales, precision: 2, strip_insignificant_zeros: true) %></td>
      </tr>
    </table>
  </div>
</div>
