<h3> Production for <%= @production_schedule.to_s %></h3>
<table class="table table-striped">
  <thead>
    <th>Batches</th>
    <th>Flavor</th>
  </thead>
  <tbody>
  <% @production_schedule.entries.each do |entry| %>
    <tr>
      <td><%=  number_with_precision(entry.quantity, precision: 2, strip_insignificant_zeros: true) %></td>
      <td><%= entry.recipe.name %></td>
    </tr>
  <% end %>
</table>
<h3> Required Ingredients </h3>
<table class="table table-striped">
  <thead>
    <th>Ingredient</th>
    <th>Quantity (lbs)</th>
  </thead>
  <tbody>
  <%@required_ingredients.each do |ingredient, quantity|%>
    <tr>
      <td><%= ingredient %></td>
      <td><%=  number_with_precision(quantity, precision: 2, strip_insignificant_zeros: true) %></td>
    </tr>
  <% end %>
<table>
<div class="links">
  <span class="label label-info"><%= link_to 'production schedules', production_schedules_path %></span>
  <span class="label label-info"><%= link_to 'edit', edit_production_schedule_path(@production_schedule) %></span>
  <span class="label label-info"><%= link_to 'delete', @production_schedule, method: :delete, data: {confirm: "Are you sure you want to delete production schedule for #{@production_schedule.starting_date.to_formatted_s(:db)}?"} %></span>
</div>


