<h3><%= @recipe.name %></h3>
    <table class="table table-striped">
      <thead>
        <th>Quantity (g)</th>
        <th>Ingredient</th>
      </thead>
      <% @recipe.recipe_entries.each do |entry| %>
        <tr>
          <% if entry.quantity > 0 %>
            <td><%= number_with_precision(entry.quantity, precision: 2, strip_insignificant_zeros: true) %></td>
          <% end %>
          <td><%= entry.ingredient.name %></td>
        </tr>
      <% end %>
    </table>
  <article><%= simple_format @recipe.note %></article>
<br>
<div class= "links">
  <span class="label label-info"><%= link_to 'edit', edit_recipe_path(@recipe) %></span>
  <span class="label label-info"><%= link_to 'delete', recipe_path(@recipe, recipe: { is_active: false }), method: :patch, data: {confirm: "Are you sure you want to delete recipe for #{@recipe.name}?"} %></span>
</div>
