<h3><%= @day.date.to_formatted_s(:long_ordinal) %></h3>
<% if @starting_inventory.present? %>
  <%= link_to "Beginning Of Day Inventory", edit_day_starting_inventory_path(@day, @starting_inventory) %>
<% else %>
  <%= link_to "Beginning Of Day Inventory", new_day_starting_inventory_path(@day) %>
<% end %>
<br>
<% if @added_inventory.present? %>
  <%= link_to "Add Inventory", edit_day_added_inventory_path(@day, @added_inventory) %>
<% else %>
  <%= link_to "Add Inventory", new_day_added_inventory_path(@day) %>
<% end %>
<br>
<% if @ending_inventory.present? %>
  <%= link_to "End Of Day Inventory", edit_day_ending_inventory_path(@day, @ending_inventory) %>
<% else %>
  <%= link_to "End Of Day Inventory", new_day_ending_inventory_path(@day) %>
<% end %>
<br>
<h5>Production Schedules</h5>
<ul>
  <% @production_schedules.each do |schedule| %>
    <li><%= link_to schedule.to_s, production_schedule_path(schedule) %></li>
  <% end %>
</ul>
<h5>Sales</h5>
<table class="table table-striped">
  <thead>
    <th>Flavor</th>
    <th>Quantity Sold (lbs)</th>
  </thead>
  <% @net_sales_by_product.each do |recipe, quantity| %>
    <tr>
      <td><%= recipe %></td>
      <td><%= number_with_precision(quantity, precision: 2, strip_insignificant_zeros: true) %></td>
    </tr>
  <% end %>
  <tr><td></td><td></td></tr>
  <tr>
    <td><strong>total</strong></td>
    <td><%= number_with_precision(@net_sales, precision: 2, strip_insignificant_zeros: true) %></td>
  </tr>
</table>



