<h3>Starting Inventory for <%= @day.date.to_formatted_s(:long_ordinal) %></h3>
<div class="inventory-form">
  <%= form_for [@day, @starting_inventory] do |f| %>
    <div class="form-group">
      <%= f.label :employee, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :employee %>
      </div>
    </div>
    <div class="starting-inventory-recipes-label"><strong>Flavors</strong></div>
    <fieldset id="starting-inventory-entries">
      <div class="sub-form-headers"><span class="inventory-quantity-label">qty.</span><span class="inventory-item-label">name</span></div>
      <ul>
        <%= f.fields_for :starting_inventory_entries do |entry| %>
          <%= render 'starting_inventory_entry_fields', f: entry %>
        <% end %>
      </ul>
      <div class="add-line controls">
        <%= link_to_add_association 'add flavor', f, :starting_inventory_entries, 'data-association-insertion-node' => "#starting-inventory-entries ul", 'data-association-insertion-method' => "append" %>
      </div>
    </fieldset>
    <%= f.hidden_field :inventory_date, value: @day.date %>
    <div class="inventory-submit form-submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>
