<h3><%= @day.date.to_formatted_s(:long_ordinal) %></h3>
<div class="inventory-form">
  <%= form_for [@day, @added_inventory] do |f| %>
    <div class="added-inventory-recipes-label"><strong>Flavors</strong></div>
    <fieldset id="added-inventory-entries">
      <div class="sub-form-headers"><span class="inventory-quantity-label">qty.</span><span class="inventory-item-label">name</span></div>
      <ul>
        <%= f.fields_for :added_inventory_entries do |entry| %>
          <%= render 'added_inventory_entry_fields', f: entry %>
        <% end %>
      </ul>
      <div class="add-line controls">
        <%= link_to_add_association 'add flavor', f, :added_inventory_entries, 'data-association-insertion-node' => "#added-inventory-entries ul", 'data-association-insertion-method' => "append" %>
      </div>
    </fieldset>
    <%= f.hidden_field :inventory_date, value: @day.date %>
    <div class="inventory-submit form-submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>
