<!DOCTYPE html>
<html>
<head>
  <title>Conehead</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <li><%= link_to 'home', day_path(Date.today) %></li>
  <li><%= link_to 'recipes', recipes_path %><li>
  <li><%= link_to 'production schedules', production_schedules_path %><li>
  <li><%= link_to 'history', weeks_path %></li>
  <% if user_signed_in? %>
    <li class= 'right'><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <li class= 'right'><%= link_to 'Edit profile', edit_user_registration_path %></li>
    <li class= 'right login'>Logged in as <strong><%= current_user.email %></strong>.</li>
  <% else %>
    <li class= 'right'><%= link_to "Login", new_user_session_path %></li>
    <li class= 'right'><%= link_to "Sign up", new_user_registration_path %> |</li>
  <% end %>
</ul>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
